{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
<section class="mt-5">
    <div class="container">
      <div class="row">
          {% for item in item_list %}
      <div class="col-lg-4 mb-4">
      <div class="card shadow">
        <img src="{{ item.image.url }}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Here is your Quantity - {{ item.quantity }}</p>
         <a href="{% url 'selling' item.id %}" class="btn btn-outline-success btn-sm">Sell</a>
        </div>
       </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </section>
{% endblock %}